<form class="{{cssClass}}" id="att-v-ew-form" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="charname">{{localize 'OG.attribute'}}:</div>
      <div class="charname">{{attName}}</div>
    </div>

  </header>

  <br>  
      <div class="item-skill-grid">
        <div class="new-row select-name left bold">{{localize 'OG.attributePoints'}}</div>
        <div></div>  
        <div class="new-row select-name indent left ">{{localize 'OG.base'}}</div>
        <div>
          <a class="large-icon {{#if freeform}} value1 clicked red{{/if}}" data-property="value" data-score="1"><i class="{{#if (gte value 1)}}fa-solid fa-diamond{{else}}fa-regular fa-diamond{{/if}}"></i></a>
          <a class="large-icon{{#if freeform}} value2 clicked red{{/if}}" data-property="value" data-score="2"><i class="{{#if (gte value 2)}}fa-solid fa-diamond{{else}}fa-regular fa-diamond{{/if}}"></i></a>
        </div>

        <div class="new-row select-name indent left ">{{localize 'OG.role'}}</div>
        <div>
          <a class="large-icon {{#if freeform}} role clicked red{{/if}}" data-property="role" data-score="1"><i class="{{#if (gte role 1)}}fa-solid fa-diamond{{else}}fa-regular fa-diamond{{/if}}"></i></a>
        </div>
        
        <div class="new-row select-name indent left ">{{localize 'OG.trope'}}</div>
        <div>
          <a class="large-icon {{#if freeform}} trope clicked red{{/if}}" data-property="trope" data-score="1"><i class="{{#if (gte trope 1)}}fa-solid fa-diamond{{else}}fa-regular fa-diamond{{/if}}"></i></a>
        </div>
      </div>  



</form>
