<div class="mission-villain">

    <div class="blue">{{localize 'OG.name'}}</div>
    <div><input class="mainText" name="system.villain.name" type="text" value="{{actor.system.villain.name}}"/></div>
    <br>

    <div class="blue new-row">{{localize 'OG.strongSpots'}}</div>
    <div>
      {{editor enrichedStrongValue engine="prosemirror" class="background-doc" target="system.villain.strongSpots" button=true owner=owner editable=editable}}
    </div>  
    <br>
    
    <div  class="blue new-row">{{localize 'OG.weakSpots'}}</div>
    <div>
      {{editor enrichedWeakValue engine="prosemirror" class="background-doc" target="system.villain.weakSpots" button=true owner=owner editable=editable}}
    </div>  
</div>