<div class="mission-shots" style="margin-top: 5px; margin-bottom:5px; background-color:rgb(214, 212, 212);">
    <div>{{localize 'OG.contact'}}</div>
    <div>{{localize 'OG.description'}}</div>
    <div class="centre item-control item-create" title="{{localize 'OG.createContact'}}" data-type="shot" data-subtype="contact"><a class="centre primIcon clickable medium-icon" ><i class="fa-solid fa-plus"></i></a></div>
</div>

<ol class="items-list">
  {{#each contacts as |contact key|}}
    <li class="item" data-item-id="{{contact._id}}">
      <div class="mission-shots">
        <div class="red item-edit clickable"><p>{{contact.name}}</p></div>
        <div class="truncate" style="max-height:50px;">{{{contact.system.description}}}</div>
        <p class="centre"><a class="item-control item-delete secIcon" title="{{localize 'OG.deleteItem'}}"><i class="fas fa-trash"></i></a></p>
      </div>
    </li>  
    <br>
  {{/each}}
</ol>