<div class="mission-shots" style="margin-top: 5px; margin-bottom:5px; background-color:rgb(214, 212, 212);">
    <div class="indent">{{localize 'OG.shot'}}</div>
    <div>{{localize 'OG.description'}}</div>
    <div class="centre item-control item-create" title="{{localize 'OG.createShot'}}" data-type="shot" data-subtype="shot"><a class="centre primIcon clickable medium-icon" ><i class="fa-solid fa-plus"></i></a></div>
</div>

<ol class="items-list">
  {{#each shots as |shot key|}}
    <li class="item" data-item-id="{{shot._id}}">
      <div class="mission-shots">
        <div class="indent red item-edit clickable"><p>{{shot.name}}</p></div>
        <div class="truncate" style="max-height:50px;">{{{shot.system.description}}}</div>
        <p class="centre"><a class="secIcon item-control item-delete" title="{{localize 'OG.deleteItem'}}"><i class="fas fa-trash"></i></a></p>
      </div>
    </li>  
    <br>
  {{/each}}
</ol>
