<ol class="items-list" style="margin-top:5px;">
  <div class="mission-rides">
    {{#each rides as |ride key|}}
    <li class="item" data-collection = "rides" data-particuuid="{{ride.uuid}}">
        <div class="ride-header">
          <div class="indent red ride-edit">{{ride.name}} ({{ride.parent.name}})</div>
          <div class="centre" >
              <a class="ride-refresh clickable"title=" {{localize 'OG.refresh'}}"><i class="fa-solid fa-arrows-rotate"></i></a>
              <a class="support-delete clickable"title=" {{localize 'OG.delete'}}"><i class="fa-solid fa-trash"></i></a>
          </div>
        </div>    
        <div class="ride-grid">
          <div class="borderleft"></div>
          {{#loop 1 6 1}}
            <div class="centre middle"><a class="mediumplus-icon {{#if (lt this 4)}}red{{/if}}" title="{{localize 'OG.armour'}}" data-property="armour" data-target = {{this}}>
              <i class="{{#if (gte ride.system.armour.value this)}}fa-solid fa-shield{{else}}fa-regular fa-shield{{/if}}"></i>
            </a></div>
            {{#if (eq this 3)}}
              <div class="centre middle"><a class="extralarge-icon" title="{{localize 'OG.startingSpeed'}}: {{ride.system.speed.start}}"><i class="
                {{#if (eq ride.system.speed.start 0)}}fa-solid fa-gauge-min{{/if}}
                {{#if (eq ride.system.speed.start 1)}}fa-solid fa-gauge-low{{/if}}
                {{#if (eq ride.system.speed.start 2)}}fa-solid fa-gauge-high{{/if}}
                {{#if (eq ride.system.speed.start 3)}}fa-solid fa-gauge-max{{/if}}
              "></i></a></div>
            {{/if}}      
          {{/loop}}
          <div class="borderright"></div>  
        </div>   
        
        <div class="ride-grid-type">     
           <div class="borderleft"></div>    
           <div class="centre middle"><a class="mediumplus-icon {{#if ride.system.pedal}}red{{/if}}" title="{{localize 'OG.pedal'}}"><i class="fa-solid fa-bicycle"></i></a></div>
           <div class="centre middle"><a class="mediumplus-icon {{#if ride.system.beast}}red{{/if}}" title="{{localize 'OG.beast'}}"><i class="fa-solid fa-horse"></i></a></div>
           <div class="centre middle"><a class="mediumplus-icon {{#if ride.system.bike}}red{{/if}}" title="{{localize 'OG.bike'}}"><i class="fa-solid fa-motorcycle"></i></a></div>
           <div class="centre middle"><a class="mediumplus-icon {{#if ride.system.car}}red{{/if}}" title="{{localize 'OG.car'}}"><i class="fa-solid fa-car-side"></i></a></div>
           <div class="centre middle"><a class="mediumplus-icon {{#if ride.system.nautical}}red{{/if}}" title="{{localize 'OG.nautical'}}"><i class="fa-solid fa-ship"></i></a></div>
           <div class="centre middle"><a class="mediumplus-icon {{#if ride.system.flying}}red{{/if}}" title="{{localize 'OG.flying'}}"><i class="fa-solid fa-helicopter"></i></a></div>
           <div class="centre middle"><a class="mediumplus-icon {{#if ride.system.armoured}}red{{/if}}" title="{{localize 'OG.armoured'}}"><i class="fa-solid fa-truck-monster"></i></a></div>
           <div class="centre middle"><a class="mediumplus-icon {{#if ride.system.space}}red{{/if}}" title="{{localize 'OG.spaceship'}}"><i class="fa-solid fa-starship"></i></a></div>
           <div class="borderright"></div>     

        </div>

        <div class="ride-grid-bottom indent">{{ride.system.shortDesc}}</div>

    </li>
    {{/each}}
  </div>
</ol>
