<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <section class="mission-sheet">

    {{!-- Mission Title --}}
    <div class="mission-title">
      <div class ="logo"></div>
      <div class="indent red info-cell" style="margin-top: auto;">{{localize 'OG.mission'}}:</div>
      <div class="info-cell" style="margin-top: auto;"><input name="name" type="text" value="{{actor.name}}"/></div>
    </div>
    <div class="planB">
      <div class="upperCase centre">{{localize 'OG.whatPlanB'}}<span class="red upperCase">{{localize 'OG.planB'}}</span>?</div>
      <div class="{{#if (eq gameVersion '2')}}planB-4icons{{else}}planB-icons{{/if}}">
        

      {{#if customPlanB}}
        <div class="centre planBIcon {{#if planB1}}secIcon fade{{else}}primIcon{{/if}}"><a><i class="{{planB1Icon}}"></i></a></div>
        {{#if (eq gameVersion '2')}}
          <div class="centre planBIcon {{#if planB1}}secIcon fade{{else}}primIcon{{/if}}"><a><i class="{{planB4WOKIcon}}"></i></a></div>
          <div class="centre planBIcon {{#if planB2}}secIcon fade{{else}}primIcon{{/if}}"><a><i class="{{planB2Icon}}"></i></a></div>
        {{else}}    
          <div class="centre planBIcon {{#if planB2}}secIcon fade{{else}}primIcon{{/if}}"><a><i class="{{planB2Icon}}"></i></a></div>
        {{/if}}
        <div class="centre planBIcon {{#if planB3}}secIcon fade{{else}}primIcon{{/if}}"><a><i class="{{planB3Icon}}"></i></a></div>
      {{else}}

        <div class="planBIcon centre {{#unless planB1}}primIcon{{/unless}}">2</div>
        {{#if (eq gameVersion '2')}}
          <div class="planBIcon centre {{#unless planB1}}primIcon{{/unless}}">A</div>
          <div class="planBIcon centre {{#unless planB2}}primIcon{{/unless}}">B</div>
        {{else}}
          <div class="planBIcon centre {{#unless planB2}}primIcon{{/unless}}">3</div>
        {{/if}}
        <div class="planBIcon centre {{#unless planB3}}primIcon{{/unless}}">4</div>

      {{/if}}  

        <div class="centre">{{planB1Name}}</div>
        {{#if (eq gameVersion '2')}}
          <div class="centre">{{planB4Name}}</div>
        {{/if}}
        <div class="centre">{{planB2Name}}</div>
        <div class="centre">{{planB3Name}}</div>
      </div>
    </div>

    {{!-- Characters --}}
    <ol class="items-list">
      <div class="participants">
        <div class="red upperCase"> {{localize 'OG.heroes'}}</div>
      </div>  
      {{#each participants as |partic key|}}
        <li class="partic" data-particuuid="{{partic.uuid}}">
          <div class="participants">
            <div class="red new-row">{{localize 'OG.name'}}:</div>
            <div class="clickable partic-edit" >{{partic.name}}</div>
            <div class="red">{{localize 'OG.role'}}:</div>
            <div> {{partic.role}}</div>
            <div class="centre" title="{{localize 'OG.delete'}}"><a class="primIcon partic-remove clickable"><i class="fa-solid fa-trash"></i></a></div>
          </div>
        </li>
      {{/each}}
    </ol>

    {{!-- Heat --}}
    <div class="mission-heat">
      <div class="red upperCase" title = "{{localize 'OG.heat'}}: {{heat}}">{{localize 'OG.heat'}}</div>
      <div class="grit">
        {{#loop 1 12 1}}
          <a class="{{#if (eq this 6)}}secIcon{{else}}{{#if (eq this 9)}} secIcon {{else}}{{#if (eq this 12)}} secIcon {{else}} primIcon{{/if}}{{/if}}{{/if}} medium-icon"><i class="{{#if (gte ../heat this)}} fa-solid fa-temperature-full {{else}} fa-regular fa-temperature-empty{{/if}}"></i></a>
        {{/loop}}
      </div>
      <div class="small upperCase">{{localize 'OG.heat6Hint'}}</div>
      <div class="small upperCase">{{localize 'OG.heat9Hint'}}</div>
      <div class="small upperCase">{{localize 'OG.heat12Hint'}}</div>
    </div>

  </section>

  {{!-- Sheet Tab Navigation --}}
  <section class="nav-panel">
    <nav class="sheet-tabs tabs" data-group="primary">
      <div><a class="item" data-tab="shots">{{localize 'OG.shots'}}</a></div>
      <div><a class="item" data-tab="ride">{{localize 'OG.ride'}}</a></div>
      <div><a class="item" data-tab="villain">{{localize 'OG.villain'}}</a></div>
      <div><a class="item" data-tab="support">{{localize 'OG.support'}}</a></div>
      <div><a class="item" data-tab="contacts">{{localize 'OG.contact'}}</a></div>
      {{#if (eq gameVersion "2")}}
      <div><a class="item" data-tab="gold">{{localize 'OG.gold'}}</a></div>
      {{/if}}
    </nav>
  </section> 

  <section class="sheet-body">

    {{!-- Shots Tab --}}
    <div class="tab shots" data-group="primary" data-tab="shots">
      {{> "systems/outgunned/templates/actor/parts/mission-shots.html"}}
    </div>

    {{!-- Ride Tab --}}
    <div class="tab ride" data-group="primary" data-tab="ride">
      {{> "systems/outgunned/templates/actor/parts/mission-ride.html"}}
    </div>
    
    {{!-- Villain Tab --}}
    <div class="tab villain" data-group="primary" data-tab="villain">
      {{> "systems/outgunned/templates/actor/parts/mission-villain.html"}}
    </div>
    
    {{!-- Support Tab --}}
    <div class="tab support" data-group="primary" data-tab="support">
      {{> "systems/outgunned/templates/actor/parts/mission-support.html"}}
    </div>
    
    {{!-- Contacts Tab --}}
    <div class="tab contacts" data-group="primary" data-tab="contacts">
      {{> "systems/outgunned/templates/actor/parts/mission-contacts.html"}}
    </div>    

    {{!-- Gold Tab --}}
    <div class="tab gold" data-group="primary" data-tab="gold">
      {{> "systems/outgunned/templates/actor/parts/mission-gold.html"}}
    </div> 

  </section>
</form>

