<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="charname">{{localize 'OG.gear'}}:</div>
      <div class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{ localize 'OG.attributes' }}</a>
    <a class="item" data-tab="description">{{ localize 'OG.description' }}</a>
    <a class="item" data-tab="image">{{ localize 'OG.image' }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
  <br>  
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="item-skill-grid">
        <div class="info-cell borderless left bold">{{localize 'OG.cost'}} ($)</div>          
        <div class="info-cell borderless centre"><input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number"/></div>
        <br>

        {{#if hasOwner}}
          <div class="new-row select-name left bold">{{localize 'OG.kept'}}</div>          
          <div class="centre">
            <select class="mainText" data-handle-change name="system.location">
              {{selectOptions displayLocList selected=item.system.location}}
            </select>
          </div>
          <br>
          {{#if (eq gameVersion "1")}}
            <div class="new-row select-name left bold">{{localize 'OG.keyItem'}}</div>         
            <div class="centre">
              <a class="large-icon toggle secIcon" data-property="keyItem" ><i class="{{#if item.system.keyItem}}fa-solid fa-diamond{{else}}fa-regular fa-diamond{{/if}}"></i></a>
            </div>
            <br>
          {{/if}}
        {{/if}}  
    </div>

      <div title="{{localize 'OG.shortDescHint'}}">{{localize 'OG.shortDesc'}}</div>
      <div class="info-cell bordered"><input name="system.shortDesc" type="text" value="{{item.system.shortDesc}}"/></div>


    </div>
    
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor item.system.description class="background-item-doc" target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Image Tab --}}
    <div class="tab image" data-group="primary" data-tab="image">
      <img class="profile-img" src="{{item.img}}" data-edit="img" height="200" width="200" title="{{item.name}}"/>
    </div>
  </section>
</form>
