<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="charname">{{localize 'OG.gun'}}:</div>
      <div class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{ localize 'OG.attributes' }}</a>
    <a class="item" data-tab="description">{{ localize 'OG.description' }}</a>
    <a class="item" data-tab="image">{{ localize 'OG.image' }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-bottom-panel">
  <section class="sheet-body">
  <br>  
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="item-skill-grid">
        <div class="info-cell borderless left bold">{{localize 'OG.cost'}} ($)</div>          
        <div class="info-cell borderless centre"><input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number"/></div>
        {{#if (eq gameVersion '2')}}
          <div class="info-cell borderless left bold">{{localize 'OG.gold'}}</div>          
          <div class="info-cell borderless centre"><input name="system.gold" type="text" value="{{item.system.gold}}" data-dtype="Number"/></div>
        {{/if}}
        <br>

        {{#if hasOwner}}
          {{#if item.system.feats.single}}
          <div class="new-row info-cell borderless left bold">{{localize 'OG.ammo'}}</div>
          <div class="info-cell borderless centre"><input name="system.mags" type="text" value="{{item.system.mags}}" data-dtype="Number"/></div>
          {{else}}
            <div class="new-row select-name left bold">{{localize 'OG.mags'}}</div>          
            <div class="centre">
              <select data-handle-change name="system.mags">
                {{selectOptions displayMagsList selected=item.system.mags}}
              </select>
            </div>
          {{/if}}  
          <br>

          <div class="new-row select-name left bold">{{localize 'OG.kept'}}</div>          
          <div class="centre">
          <select data-handle-change name="system.location">
            {{selectOptions displayLocList selected=item.system.location}}
          </select>
          </div>
          <br>
        {{/if}}
      </div>


      <div class="left bold">{{localize 'OG.range'}}</div>     
        <div class="gun-range-grid">
          <div class="info-cell borderless">{{localize 'OG.melee'}}</div>
          <div class="info-cell borderless centre">
            <input name="system.range.melee" type="text" value="{{item.system.range.melee}}" placeholder="0"/>
          </div> 
          <div class="info-cell borderless">{{localize 'OG.close'}}</div> 
          <div class="info-cell borderless centre">
            <input name="system.range.close" type="text" value="{{item.system.range.close}}" placeholder="0"/>
          </div> 
          <div class="info-cell borderless">{{localize 'OG.medium'}}</div> 
          <div class="info-cell borderless centre">
            <input name="system.range.medium" type="text" value="{{item.system.range.medium}}" placeholder="0"/>
          </div> 
          <div class="info-cell borderless">{{localize 'OG.long'}}</div> 
          <div class="info-cell borderless centre">
            <input name="system.range.long" type="text" value="{{item.system.range.long}}" placeholder="0"/>
          </div> 
        </div>  

        <br>

        {{!-- Selected Feats --}}
        <div class="horizontalboxed {{#if isGM}} droppable {{/if}} weaponfeats">
        <div class="select-name">{{ localize "OG.feats"}}</div>
        <ol class="item-list">
          {{#unless hasFeats}}
            <div class="centre italics fade">{{localize 'OG.drop'}}</div>
          {{/unless}}
          {{#each weaponfeats as |weaponfeat|}}
            <li class="item flexrow" data-item-id="{{weaponfeat._id}}" >
              <div class="item-name flexrow">
                <div class="item-list-name">{{weaponfeat.name}}  <a class="secIcon"><i class="{{weaponfeat.system.fasIcon}}"></i></a></div>
              </div>
  
              <div class="item-controls">
                {{#if ../isGM}}
                  <a class="item-control item-delete feats secIcon" title="{{localize 'OG.deleteItem'}}"><i class="fas fa-trash"></i></a>
                {{/if}}
              </div>
            </li>
          {{/each}}
        </ol>
        </div>
    </div>
    
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedDescriptionValue engine="prosemirror" class="background-item-doc" target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Image Tab --}}
    <div class="tab image" data-group="primary" data-tab="image">
      <img class="profile-img" src="{{item.img}}" data-edit="img" height="200" width="200" title="{{item.name}}"/>
    </div>
  
  </section>
  </section>
</form>
