<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="charname">{{localize 'OG.gun'}}:</div>
      <div class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{ localize 'OG.attributes' }}</a>
    <a class="item" data-tab="description">{{ localize 'OG.description' }}</a>
    <a class="item" data-tab="image">{{ localize 'OG.image' }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
  <br>  
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="item-skill-grid">
        <div class="info-cell borderless left bold">{{localize 'OG.cost'}} ($)</div>          
        {{#if isGM}}
          <div class="info-cell borderless centre"><input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number"/></div>
        {{else}}
          <div class="select-name centre">{{item.system.cost}}</div>
        {{/if}}
        <br>

        {{#if hasOwner}}
          {{#if item.system.feats.single}}
          <div class="new-row info-cell borderless left bold">{{localize 'OG.ammo'}}</div>
          <div class="info-cell borderless centre"><input name="system.mags" type="text" value="{{item.system.mags}}" data-dtype="Number"/></div>
          {{else}}
            <div class="new-row select-name left bold">{{localize 'OG.mags'}}</div>          
            <div class="centre">
              <select data-handle-change name="system.mags">
                {{selectOptions displayMagsList selected=item.system.mags}}
              </select>
            </div>
          {{/if}}  
          <br>

          <div class="new-row select-name left bold">{{localize 'OG.kept'}}</div>          
          <div class="centre">
          <select data-handle-change name="system.location">
            {{selectOptions displayLocList selected=item.system.location}}
          </select>
          </div>
          <br>
        {{/if}}
      </div>

      <div class="left bold" title="{{localize 'OG.redActive'}}">{{localize 'OG.feats'}}</div>         
      <div class="gun-feat-grid">
        <div class="{{#if isGM}}toggle{{/if}} centre bordered {{#if item.system.feats.accurate}}toggled{{/if}}" data-property="accurate">{{localize 'OG.accurate'}}</div>
        <div class="{{#if isGM}}toggle{{/if}} centre bordered {{#if item.system.feats.explosive}}toggled{{/if}}" data-property="explosive">{{localize 'OG.explosive'}}</div>
        <div class="{{#if isGM}}toggle{{/if}} centre bordered {{#if item.system.feats.jam}}toggled{{/if}}" data-property="jam">{{localize 'OG.jam'}}</div>
        <div class="{{#if isGM}}toggle{{/if}} centre bordered {{#if item.system.feats.precision}}toggled{{/if}}" data-property="precision">{{localize 'OG.precision'}}</div>
        <div class="{{#if isGM}}toggle{{/if}} centre bordered {{#if item.system.feats.rapid}}toggled{{/if}}" data-property="rapid">{{localize 'OG.rapid'}}</div>
        <div class="{{#if isGM}}toggle{{/if}} centre bordered {{#if item.system.feats.short}}toggled{{/if}}" data-property="short">{{localize 'OG.short'}}</div>
        <div class="{{#if isGM}}toggle{{/if}} centre bordered {{#if item.system.feats.silent}}toggled{{/if}}" data-property="silent">{{localize 'OG.silent'}}</div>
        <div class="{{#if isGM}}toggle{{/if}} centre bordered {{#if item.system.feats.single}}toggled{{/if}}" data-property="single">{{localize 'OG.single'}}</div>
        <div class="{{#if isGM}}toggle{{/if}} centre bordered {{#if item.system.feats.slow}}toggled{{/if}}" data-property="slow">{{localize 'OG.slow'}}</div>
      </div>
      <br>
      <div class="left bold">{{localize 'OG.range'}}</div>     
        <div class="gun-range-grid">
          <div class="info-cell borderless">{{localize 'OG.melee'}}</div>
          <div class="info-cell borderless centre">
            {{#if isGM}}<input name="system.range.melee" type="text" value="{{item.system.range.melee}}" placeholder="0"/>
            {{else}}{{item.system.range.melee}}
            {{/if}}
          </div> 
          <div class="info-cell borderless">{{localize 'OG.close'}}</div> 
          <div class="info-cell borderless centre">
            {{#if isGM}}<input name="system.range.close" type="text" value="{{item.system.range.close}}" placeholder="0"/>
            {{else}}{{item.system.range.close}}
            {{/if}}
          </div> 
          <div class="info-cell borderless">{{localize 'OG.medium'}}</div> 
          <div class="info-cell borderless centre">
            {{#if isGM}}<input name="system.range.medium" type="text" value="{{item.system.range.medium}}" placeholder="0"/>
            {{else}}{{item.system.range.medium}}
            {{/if}}
          </div> 
          <div class="info-cell borderless">{{localize 'OG.long'}}</div> 
          <div class="info-cell borderless centre">
            {{#if isGM}}<input name="system.range.long" type="text" value="{{item.system.range.long}}" placeholder="0"/>
            {{else}}{{item.system.range.long}}
            {{/if}}
          </div> 
        </div>  
    </div>
    
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor item.system.description class="background-item-doc" target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Image Tab --}}
    <div class="tab image" data-group="primary" data-tab="image">
      <img class="profile-img" src="{{item.img}}" data-edit="img" height="200" width="200" title="{{item.name}}"/>
    </div>
  </section>
</form>
