<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="charname">{{localize 'OG.specialAction'}}:</div>
      {{#if isGM}}
        <div class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></div>
      {{else}}
        <div class="charname">{{item.name}}</div>
      {{/if}}
    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{ localize 'OG.attributes' }}</a>
    <a class="item" data-tab="description">{{ localize 'OG.description' }}</a>
    <a class="item" data-tab="image">{{ localize 'OG.image' }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
  <br>  
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">

      <div class="item-skill-grid">
        <div class="select-name left bold">{{localize 'OG.cost'}}</div>  
        {{#if isGM}}
          <div class="centre"><input name="system.cost" type="text" value="{{item.system.cost}}"/></div>
        {{else}}
          <div class="centre">{{item.system.cost}}</div>
        {{/if}}
      </div>  
      <br>

      <div title="{{localize 'OG.shortDescHint'}}">{{localize 'OG.shortDesc'}}</div>
      <div class=""><input name="system.shortDesc" type="text" value="{{item.system.shortDesc}}"/></div>
    </div>

    {{!-- Description Tab --}}

    <div class="tab" data-group="primary" data-tab="description">
      {{editor item.system.description class="background-item-doc" target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Image Tab --}}
    <div class="tab image" data-group="primary" data-tab="image">
      <img class="profile-img" src="{{item.img}}" data-edit="img" height="200" width="200" title="{{item.name}}"/>
    </div>
  </section>
</form>
